@{
  Layout="Shared/_Layout.cshtml";
}

<h1>@Model["stylist"].GetStylistName()</h1>
<p>@Model["stylist"].GetSpecialty()</p>

<h3>@Model["stylist"].GetStylistName()'s Clients</h3>

@if (Model["clients"].Count == 0)
{
  <p>No clients.</p>
}
else
{
  <ul>
  @foreach (var client in @Model["clients"])
  {
    <li><a href="/clients/@client.GetId()">@client.GetClientName()</a></li>
  }
  </ul>
}

<h4><a href ='/stylists/@Model["stylist"].GetId()/delete'>Delete this stylist!</a></h4>
<h4><a href ="/clients/new">Add a new client!</a></h4>
<h4><a href="/">Return home</a></h4>
