@{
  Layout="Shared/_Layout.cshtml";
}

<h1>@Model["stylist"].GetStylistName()</h1>
<p>@Model["stylist"].GetSpecialty()</p>

<h3>@Model["stylist"].GetStylistName()'s Clients</h3>

@if (Model["clients"].Count == 0)
{
  <p>No clients.</p>
}
else
{
  <ul>
  @foreach (var client in @Model["clients"])
  {
    <li><a href="/clients/@client.GetId()">@client.GetClientName()</a></li>
  }
  </ul>
}

@*<h4>Client Feedback:</h4>
@if (Model["feedback"].Count == 0)
{
  <p>No Client Feedback</p>
}
else{
  <ul>
    @foreach (var feedback in @Model["feedbacks"])
    {
      <li><strong>@feedback.GetUserName() said:</strong>
        <br>
        "@feedback.GetComment()"
        <br>
        rating: @feedback.GetScore()
      </li>
    }
  </ul>
}
}*@

<h4><a href ="/clients/@Model["client"].GetId()/delete">Delete this stylist!</a></h4>
<h4><a href ="/clients/new">Add a new client!</a></h4>
<h4><a href="/">Return home</a></h4>
